.footer-v1-link.w--current:hover {
    color: #f4b70c;
}

.footer-v1-link.w--current {
    margin-right: 0;
    font-size: 17px;
}
.footer-v1-link:hover {
    font-family: 'Helvetica Neue',sans-serif;
    color: #f4b70c;
    font-weight: 700;
    text-transform: lowercase;
}
a:active, a:hover {
    outline: 0;
}
.footer-email-link {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue',sans-serif;
    color: #fff;
    text-decoration: none;
}

.social-buttons.right {
    /* margin-top: 0; */
    /* -webkit-box-pack: start; */
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    /* justify-content: flex-start; */
}
.social-button-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* width: 40px;
    height: 40px; */
    margin: 3px;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #383838;
    -webkit-transition: background-color .6s,border-color .6s cubic-bezier(.165, .84, .44, 1);
    transition: background-color .6s,border-color .6s cubic-bezier(.165, .84, .44, 1);
}
.social-button-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
    height: 80px;
    margin: 3px;
    padding: 10px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #383838;
    border-radius: 0;
    -webkit-transition: background-color .6s,border-color .6s cubic-bezier(.165, .84, .44, 1);
    transition: background-color .6s,border-color .6s cubic-bezier(.165, .84, .44, 1);
}

.text-block-31 {
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 700;
}
.social-buttons {
    display: -webkit-box;
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    /* display: flex; */
    /* margin-right: -3px; */
    margin-left: -3px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-v1-contacts {

}
.footer-v1-link {
    margin-top: -4px;
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Helvetica Neue',sans-serif;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
}

.footer-v1-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-right: 1px solid #383838;
}

.wrapper.side-paddings {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #383838;
}
.footer-v1-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   margin-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-right: 1px solid #383838;
}
.wrapper {
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.social-buttons.right {
    margin-top: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.social-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -3px;
    margin-left: -3px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.bold-text-18 {
    color: #f4b70c;
}
.footer-bar {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
}

.footer-bar a .img-footer {
    width: 50px;
    margin: 0px;
}

.image-7 {
    width: 55%;
}

a:active, a:hover {
    outline: 0;
}

.careers-button {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    margin-top: 15px;
    padding: 12px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-radius: 0;
   
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Helvetica Neue',sans-serif;
    color: #fff;
    font-size: .75rem;
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;
}

.btn-hover {
    margin-top: 12px;
    font-weight: 500;
    font-size: 17px;
 color: white;
  padding: 12px 70px;
    background-color: #f4b70c;
    border-radius: 0%;
}
.footer-v1-contacts {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 120px;
}
.footer-bottom-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    width: 400px;
   margin-left: auto;
}
.text-block-31 {
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-right: 3px; 

}

.footer-bottom-divider.dark-bg {
    background-color: #888;
}
