.testimonial-content-box {
    background-color: #0d0d11;
}

.custom-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.display-11 {
    color: white;
    font-size: 9rem;
    font-weight: 700;
}

section .show_skew-on_load {
    align-items: left;
} 

.carousel-inner-custom{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 150%;
  }
  .paragraph {
    color: #fff;
  }
  .arrow-icon {
    rotate: 190px;
    margin: 120px;
  }
  .arrow-wrapper .text-work {
  margin-right: 12px;
  }

  .toggle-up {
    animation-name: toggle-up;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }
  .toggle-down {
    animation-name: toggle-down;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }
  
  /*animations*/
  @keyframes toggle-up {
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes toggle-down {
    100% {
      transform: rotate(180deg);
    }
  }
  .arrow-wrapper {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
  }
.testimonial-icon {
    position: absolute;
    left: 0;
    margin-top: -60px;
    margin-left: 120px;
}
  .carousel-control-next, .carousel-control-prev {
    /* position: absolute; */
    /* top: 32px; */

}
.carousel-caption1 {
    color: white;
  margin-left: 120px;
}